[parity]
# No updates will be auto-installed
auto_update = "none"
base_path = "/mnt/disk1/data"
#no_persistent_txqueue = true #store pending tx
chain = "/etc/parity/spec.json"
#keys_path = "/etc/parity/keys"

[network]
# Parity will sync by downloading latest state first. Node will be operational in couple minutes.
bootnodes = ["enode://4e19ab83c053d6e6f45281c4d519c399de9df2162505850259540d623845c1d5662989d6298703e827a0c55225f7fb941b6ebb2527261b1a693bf1432fd67361@34.76.61.201:30303"]
warp = true

[rpc]
disable = false
port = 8545
interface = "0.0.0.0"
apis = ["web3", "eth", "net", "traces", "rpc", "pubsub"]
cors = ["*"]

[websockets]
disable = false
port = 8546
interface = "0.0.0.0"
apis = ["web3", "eth", "net", "traces", "rpc", "pubsub"]

[footprint]
# Compute and Store tracing data. (Enables trace_* APIs).
tracing = "on"

[misc]
logging = "own_tx=trace"
log_file = "/var/log/parity.log"
color = true